<!-- footer.component.html -->
<footer class="app-footer">
  <p>&copy; 2023 Pokedex do Luiz. Todos os direitos reservados.</p>

  <div>
    <h3>
      Siga-nos nas redes sociais:
      <ul class="social-icons">
        <li>
          <a href="https://www.facebook.com" target="_blank" rel="">Facebook</a>
        </li>
        <li>
          <a href="https://www.twitter.com" target="_blank" rel="">Twitter</a>
        </li>
        <li>
          <a href="https://www.instagram.com" target="_blank" rel=""
            >Instagram</a
          >
        </li>
      </ul>
    </h3>
  </div>

  <p>
    <a href="/privacy-policy">Política de Privacidade</a> |
    <a href="/terms">Termos de Serviço</a>
  </p>
</footer>
